
<!DOCTYPE html>
<html>
<head>
    
    <title>Sign Up Page</title>
<style>
    .center {
        
        text-align: center;
        }
        
</style>
</head>

<body>
<div class="center"><h1>Sing Up </h1></div>
<hr>
<div class="center">
    <form  action=" " method="POST">
       {% csrf_token %}
        <label for="user_i">User Id:</label><br>
        <input type="text" id="user_i" name="user_name" Required>
        <br> <br>
        <label for="fname">First name:</label>
        <br>
        <input type="text" id="fname" name="fname" Required>
        <br> <br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" Required>
        <br> <br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" Required>
        <br> <br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password11" Required>
        <br> <br>
        <label for="password1">Confirm your Password:</label><br>
        <input type="password1" id="password1"  name="password1"  Required>
        <br><br>
        <button type="submit" value="Submit">Sign Up</button>
      </form>
      <br>
      {% for message in messages%}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Message:</strong>{{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
     {%endfor%}
    
</div>
</body>
</html>
